<div class="details" fxLayout="row" fxLayout.lt-md="column">
  <div class="left">
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
      <h2>Detail</h2>
      <button mat-raised-button [routerLink]="['/']">Back</button>
      <pokemon-card *ngIf="pokemon" [pokemon]="pokemon"></pokemon-card>
    </div>
  </div>
  <div class="right bg-{{getType(pokemon)}}">
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
      <h2>Informations</h2>
      <div class="infos" *ngIf="pokemon">
        <p>Number : {{ pokemon.id }}</p>
        <p>Height : {{ pokemon.height }}cm</p>
        <p>Weight : {{ pokemon.weight }}kg</p>
      </div>
      <h2>Stats</h2>
      <pokemon-stats *ngIf="!loadData" [labels]="labels" [stats]="baseStat"></pokemon-stats>
    </div>
  </div>
</div>
