<div class="container my-5">
  <div class="row">
    <div class="col-xl-8 offset-xl-2">
      <div class="row">
        <h1 class="mb-4">Pokedex</h1>
        <pokemon-card [pokemons]="pokemons"></pokemon-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <button class="btn btn-sm btn-secondary" (click)="loadMore()">
        <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading"></div>
        {{loading ? 'Loading...' : 'Load More'}}
      </button>
    </div>
  </div>
</div>
